.aspect-ratio-16x9 {
  aspect-ratio: 16/9;
}

.m-0 {
  margin: 0!important;
}

.m-auto {
  margin: auto!important;
}

.mx-0 {
  margin-right: 0!important;
  margin-left: 0!important;
}

.mx-5 {
  margin-right: 3rem!important;
  margin-left: 3rem!important;
}

.mx-10 {
  margin-left: 10.5rem !important;
  margin-right: 10.5rem !important;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.my-3 {
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}

.my-4 {
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
}

.my-5 {
  margin-top: 3rem!important;
  margin-bottom: 3rem!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-2 {
  margin-top: .5rem!important;
}

.mt-3 {
  margin-top: 1rem!important;
}

.mt-4 {
  margin-top: 1.5rem!important;
}

.mt-5 {
  margin-top: 3rem!important;
}

.mt-6 {
  margin-top: 4.5rem !important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mb-4 {
  margin-bottom: 1.5rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.ms-auto {
  margin-left: auto!important;
}

